/* color styling */
* {
  --active: #073b4c;
  --icon: #0d1321;
  --sub-icon: #0d1321;
  --inactive: #B8B8B8;
  --border: black;
  --symbol-border: #D3D3D3;
}

/* style leaflet map */
.leaflet-control-zoom.leaflet-bar.leaflet-control {
  display: none;
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  display: none;
}

.leaflet-bottom.leaflet-right {
  /* please insert CSS to move to horizontal center of view port */
}

.leaflet-top.leaflet-right {
  /* please insert CSS to move to horizontal center of view port */
  display: flex;
}

.leaflet-top.leaflet-right .easy-button-container {
  margin-left: 1px;
  margin-right: 1px;
}

.easy-button-button {
  font-size: large;
}
