.sidebar-pane-inner  {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: 3px;
}

.sidebar .generic-container {
  margin-right: 5px;
  margin-left: 5px;
}

/* style sidebar panes */
.sidebar-left .sidebar-header {
  padding-left: 30px !important;
}

.sidebar-right .sidebar-header {
  padding-left: 30px !important;
}

.sidebar-pane {
  background: #FFFFFF;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  padding-bottom: 3px !important;
}

.sidebar-left .sidebar-pane {
  padding-right: 0px !important;
}

.sidebar-right .sidebar-pane {
  padding-left: 0px !important;
}

.sidebar .panel-content-inner {
  overflow-x: hidden;
}

/* style content */
.sidebar-pane-content {
  height: calc(100% - 35px);
  padding-top: 3px !important;
  margin-right: 3px !important;
  margin-left: 3px !important;
}

.sidebar-pane-content .widget-container {
  max-height: 100%;
}

.sidebar-right .sidebar-pane.active {
  padding-right: 0px !important;
}

.sidebar-left .sidebar-pane.active {
  padding-left: 0px !important;
}

/* sidebar spinner */
.sidebar-spinner {
  position: absolute;
  z-index: 9999;
  display: block;
  margin: auto;
  height: 10em;
  top: 30%; right: 40%;
  transform: translate(50%,-50%);
  width: 10em;
  border: 6px solid rgba(0, 116, 217, 0.2);
  border-top-color: rgba(0, 116, 217, 0.8);
  border-radius: 50%;
  animation: rotation 0.8s infinite linear;
}
/* map spinner: rotation */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
