/* style all tooltips */
.tooltip {
  z-index: 99999 !important;
}

/* style all icons in buttons */
.action-button.btn-primary.shiny-bound-input i {
  margin-right: 4px;
}

.widget-container {
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

/* style text in tables */
.cell-text {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ensure drop down menus in shinyWidgets::pickerInput is always on top */
.bs-container.dropdown {
  z-index: 99999999;
}
