/* display map control buttons horizontally */
.leaflet-top.leaflet-left {
  display: flex;
}

/* display zoom buttons horizontally */
.leaflet-control-zoom.leaflet-bar.leaflet-control {
  display: flex;
}

/* zoom in button */
.leaflet-touch .leaflet-bar a:first-child {
  /* border radius */
  border-top-left-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  /* border colors */
  border-bottom: 0;
  border-right: 1px solid #ccc;
}

/* zoom out button */
.leaflet-touch .leaflet-bar a:last-child {
  /* border radius */
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
}

/* style home button */
.easy-button-container {
  margin-left: 1px;
  margin-right: 1px;
}

.easy-button-button {
  font-size: large;
}
